.cormorant-font {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

@font-face {
  font-family: "Gordita Light";
  src: url("/public/assets/fonts/Gordita Light.otf");
}

.gordita-font {
  font-family: "Gordita Light";
}

.logo-container {
  cursor: pointer;
}

#app {
  height: 100%;
}
html,
body {
  position: relative;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  background-color: #000;
}

.noScrollBar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  margin: 0;
  padding: 0;
  background-color: "red";
}

.main {
  height: 100%;
  overflow: hidden;
}

.swiper {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  bottom: 1.5rem;
}

.swiper-slide {
  text-align: center;
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide .slider-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-left: 10vh !important;
}

.swipper-title {
  font-weight: 300;
  font-style: italic;
  font-size: 2.5rem;
  color: #e7b960;
}

.swipper-description {
  font-weight: 100;
  font-style: normal;
  font-size: 0.875rem;
  color: #fff;
}

.swipper-btn {
  border: 1px solid transparent;
  border-image: linear-gradient(to right, #e7b960 0%, #000 49%, #e7b960 100%) 1;
  border-image-slice: 1;
  border-image-repeat: stretch;
  background-color: initial;
  color: #e7b960;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
  padding: 5px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.swiper-pagination-bullet {
  width: 0.625rem;
  height: 0.625rem;
  text-align: center;
  line-height: 1.25rem;
  font-size: 0.75rem;
  opacity: 1;
  background: linear-gradient(
    to right,
    #efce76 0%,
    #835a27 38%,
    #c09852 73%,
    #f4e285 100%
  );
  color: #be9f60;
  font-size: 0;
}

.swiper-pagination-bullet-active {
  background: #000;
  border: 0.125em solid #be9f60;
  color: #be9f60;
  width: 1.25em;
  height: 1.25em;
  font-size: 1.1rem;
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.floating-img {
  animation: floatAnimation 6s ease-in-out infinite;
}

/* .custom-swiper-button-prev {
  position: absolute;
  bottom: 1.4vh !important;
  height: max-content;
  width: max-content;
  left: 40.5vw;
  z-index: 300;
  cursor: pointer !important;
}

.custom-swiper-button-next {
  position: absolute;
  bottom: 1.4vh !important;
  height: max-content;
  width: max-content;
  right: 40.5vw;
  cursor: pointer !important;
  z-index: 300;
} */

.gradient-text {
  background-image: linear-gradient(
    to right,
    #efce76 0%,
    #835a27 38%,
    #c09852 73%,
    #f4e285 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.second-first-div {
  gap: 25px;
  color: #e7b960;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  align-items: center;
  margin-top: 90px;
  z-index: 30;
}

.second-first-divII {
  gap: 25px;
  color: #e7b960;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  align-items: center;
  margin-top: -130px;
}
.second-first-btn {
  border: 1px solid transparent;
  border-image: linear-gradient(to right, #e7b960 0%, #000 49%, #e7b960 100%) 1;
  border-image-slice: 1;
  border-image-repeat: stretch;
  background-color: initial;
  color: #e7b960;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
  padding: 10px 25px;
}

.second-first-title {
  font-weight: 300; /* Light font weight */
  font-style: italic; /* Italic style */
  font-size: 26px;
  text-align: start;
  width: 90%;
}

.second-first-description {
  font-weight: 100; /* Light font weight */
  /* fontStyle: italic; */ /* Italic style - commented out */
  font-size: 13px;
  text-align: start;
  width: 90%;
  color: #fff;
  padding-left: 30px;
  line-height: 150%;
}

.three-div-btn {
  border: 1px solid transparent;
  border-image: linear-gradient(to right, #e7b960 0%, #000 49%, #e7b960 100%) 1;
  border-image-slice: 1;
  border-image-repeat: stretch;
  background-color: initial;
  color: #e7b960;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
  padding: 10px 25px;
  cursor: pointer;
}
.three-div-list {
  font-style: italic; /* Italic style */
  font-size: 14px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 150%;
}
.three-div-subtitle {
  font-weight: 300; /* Light font weight */
  font-style: italic; /* Italic style */
  font-size: 20px;
  color: #e7b960;
}
.three-div-title {
  font-weight: 300; /* Light font weight */
  font-style: italic; /* Italic style */
  font-size: 26px;
  color: #e7b960;
}
.three-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.I1B,
.I2B,
.I3B {
  width: 250px;
}
.three-items-div {
  margin-top: -7.5rem;
}

/* 80% */
@media (min-width: 1600px) and (max-width: 1799px) {
  .custom-swiper-button-next {
    position: absolute;
    bottom: 1vh !important;
    height: max-content;
    width: max-content;
    right: 42vw !important;
    cursor: pointer !important;
    z-index: 300;
  }
  .custom-swiper-button-prev {
    position: absolute;
    bottom: 1vh !important;
    height: max-content;
    width: max-content;
    left: 42vw;
    z-index: 300;
    cursor: pointer !important;
  }
  .swipper-base {
    width: 25rem;
    height: 18.75rem;
    position: absolute;
    bottom: 1vh;
    left: 39vw;
    z-index: 20;
    opacity: 1;
  }
  .swiper-slide .slider-img {
    margin-left: 14vh !important;
  }
  .scrollElement {
    height: 3500px;
  }
}
/* 90% */
@media (min-width: 1400px) and (max-width: 1599px) {
  .custom-swiper-button-next {
    position: absolute;
    bottom: 1.3vh !important;
    height: max-content;
    width: max-content;
    right: 41.5vw !important;
    cursor: pointer !important;
    z-index: 300;
  }
  .custom-swiper-button-prev {
    position: absolute;
    bottom: 1.3vh !important;
    height: max-content;
    width: max-content;
    left: 41.5vw;
    z-index: 300;
    cursor: pointer !important;
  }
  .swipper-base {
    width: 25rem;
    height: 18.75rem;
    position: absolute;
    bottom: 1vh;
    left: 36vw;
    z-index: 20;
    opacity: 1;
  }
  .scrollElement {
    height: 3100px;
  }
}
/* 100%*/
@media (min-width: 1200px) and (max-width: 1399px) {
  .custom-swiper-button-next {
    position: absolute;
    bottom: 1.4vh !important;
    height: max-content;
    width: max-content;
    right: 40.5vw !important;
    cursor: pointer !important;
    z-index: 300;
  }
  .custom-swiper-button-prev {
    position: absolute;
    bottom: 1.4vh !important;
    height: max-content;
    width: max-content;
    left: 40.5vw;
    z-index: 300;
    cursor: pointer !important;
  }
  .swipper-base {
    width: 25rem;
    height: 18.75rem;
    position: absolute;
    bottom: 1vh;
    left: 36vw;
    z-index: 20;
    opacity: 1;
  }
  .scrollElement {
    height: 2800px;
  }
}
/* 110% */
@media (min-width: 1025px) and (max-width: 1199px) {
  .custom-swiper-button-next {
    position: absolute;
    bottom: 1.4vh !important;
    height: max-content;
    width: max-content;
    right: 39vw !important;
    cursor: pointer !important;
    z-index: 300;
  }
  .custom-swiper-button-prev {
    position: absolute;
    bottom: 1.4vh !important;
    height: max-content;
    width: max-content;
    left: 39vw;
    z-index: 300;
    cursor: pointer !important;
  }
  .swipper-base {
    width: 23rem;
    height: 16.75rem;
    position: absolute;
    bottom: -3vh;
    left: 35vw;
    z-index: 20;
    opacity: 1;
  }
  .swipper-title {
    font-weight: 300;
    font-style: italic;
    font-size: 1.8rem;
    color: #e7b960;
  }

  .swipper-description {
    font-weight: 100;
    font-style: normal;
    font-size: 0.675rem;
    color: #fff;
  }

  .swipper-btn {
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #e7b960 0%, #000 49%, #e7b960 100%)
      1;
    border-image-slice: 1;
    border-image-repeat: stretch;
    background-color: initial;
    color: #e7b960;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
    padding: 3px 15px;
    cursor: pointer;
    margin-top: 10px;
  }
  .swiper-slide .slider-img {
    margin-left: 5vh !important;
  }
  .three-items-div {
    margin-top: 4.5rem !important;
  }
  .second-first-div {
    gap: 20px;
    width: 80% !important;
    margin-top: 90px;
  }
  .second-first-divII {
    gap: 20px;
    width: 80% !important;
    align-items: center;
    margin-top: -100px !important;
  }
  .second-first-title {
    font-size: 20px !important;
  }
  .second-first-description {
    font-weight: 100; /* Light font weight */
    /* fontStyle: italic; */ /* Italic style - commented out */
    font-size: 11px !important;
    text-align: start;
    width: 90%;
    color: #fff;
    padding-left: 30px;
    line-height: 150%;
  }
  .second-first-btn {
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #e7b960 0%, #000 49%, #e7b960 100%)
      1;
    border-image-slice: 1;
    border-image-repeat: stretch;
    background-color: initial;
    color: #e7b960;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
    padding: 5px 15px !important;
  }
  .I1B,
  .I2B,
  .I3B {
    width: 180px !important;
  }
  .three-div {
    gap: 20px !important;
  }
  .three-div-title {
    font-size: 20px !important;
  }
  .three-div-subtitle {
    font-size: 16px;
  }
  .three-div-list {
    font-size: 11px !important;
    margin-left: -25px;
  }
  .three-div-btn {
    padding: 5px 15px !important;
  }
  .three-div-btn img {
    width: 25px;
  }
  .scrollElement {
    height: 2500px;
  }
}
/* 125% */
@media (min-width: 901px) and (max-width: 1024px) {
  .custom-swiper-button-next {
    position: absolute;
    bottom: 1.4vh !important;
    height: max-content;
    width: max-content;
    right: 38vw !important;
    cursor: pointer !important;
    z-index: 300;
  }
  .custom-swiper-button-prev {
    position: absolute;
    bottom: 1.4vh !important;
    height: max-content;
    width: max-content;
    left: 38vw;
    z-index: 300;
    cursor: pointer !important;
  }
  .swipper-base {
    width: 20rem;
    height: 13.75rem;
    position: absolute;
    bottom: -2vh;
    left: 35vw;
    z-index: 20;
    opacity: 1;
  }
  .swipper-title {
    font-weight: 300;
    font-style: italic;
    font-size: 1.8rem;
    color: #e7b960;
  }

  .swipper-description {
    font-weight: 100;
    font-style: normal;
    font-size: 0.675rem;
    color: #fff;
  }

  .swipper-btn {
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #e7b960 0%, #000 49%, #e7b960 100%)
      1;
    border-image-slice: 1;
    border-image-repeat: stretch;
    background-color: initial;
    color: #e7b960;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
    padding: 3px 15px;
    cursor: pointer;
    margin-top: 10px;
  }
  .swiper-slide .slider-img {
    margin-left: 3vh !important;
  }
  .three-items-div {
    margin-top: 6.5rem !important;
  }
  .second-first-div {
    gap: 20px;
    width: 80% !important;
    margin-top: 90px;
  }
  .second-first-divII {
    gap: 20px;
    width: 80% !important;
    align-items: center;
    margin-top: -100px !important;
  }
  .second-first-title {
    font-size: 20px !important;
  }
  .second-first-description {
    font-weight: 100; /* Light font weight */
    /* fontStyle: italic; */ /* Italic style - commented out */
    font-size: 11px !important;
    text-align: start;
    width: 90%;
    color: #fff;
    padding-left: 30px;
    line-height: 150%;
  }
  .second-first-btn {
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #e7b960 0%, #000 49%, #e7b960 100%)
      1;
    border-image-slice: 1;
    border-image-repeat: stretch;
    background-color: initial;
    color: #e7b960;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
    padding: 5px 15px !important;
  }
  .I1B,
  .I2B,
  .I3B {
    width: 180px !important;
  }
  .three-div {
    gap: 20px !important;
  }
  .three-div-title {
    font-size: 20px !important;
  }
  .three-div-subtitle {
    font-size: 16px;
  }
  .three-div-list {
    font-size: 11px !important;
    margin-left: -25px;
  }
  .three-div-btn {
    padding: 5px 15px !important;
  }
  .three-div-btn img {
    width: 25px;
  }
}

/* 150% */
@media (min-width: 601px) and (max-width: 900px) {
  .custom-swiper-button-next {
    position: absolute;
    bottom: 2vh !important;
    height: max-content;
    width: max-content;
    right: 36vw !important;
    cursor: pointer !important;
    z-index: 300;
  }
  .custom-swiper-button-prev {
    position: absolute;
    bottom: 2vh !important;
    height: max-content;
    width: max-content;
    left: 36vw;
    z-index: 300;
    cursor: pointer !important;
  }
  .swipper-base {
    width: 20rem;
    height: 13.75rem;
    position: absolute;
    bottom: -2vh;
    left: 35vw;
    z-index: 20;
    opacity: 1;
  }
  .swipper-title {
    font-weight: 300;
    font-style: italic;
    font-size: 1.4rem;
    color: #e7b960;
  }

  .swipper-description {
    font-weight: 100;
    font-style: normal;
    font-size: 0.575rem;
    color: #fff;
  }

  .swipper-btn {
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #e7b960 0%, #000 49%, #e7b960 100%)
      1;
    border-image-slice: 1;
    border-image-repeat: stretch;
    background-color: initial;
    color: #e7b960;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
    padding: 1px 10px;
    cursor: pointer;
    margin-top: 10px;
  }
  .swiper-slide .slider-img {
    margin-left: 3vh !important;
  }
  .three-items-div {
    margin-top: 3.5rem !important;
  }
  .second-first-div {
    gap: 20px;
    width: 80% !important;
    margin-top: 90px;
  }
  .second-first-divII {
    gap: 20px;
    width: 80% !important;
    align-items: center;
    margin-top: -100px !important;
  }
  .second-first-title {
    font-size: 20px !important;
  }
  .second-first-description {
    font-weight: 100; /* Light font weight */
    /* fontStyle: italic; */ /* Italic style - commented out */
    font-size: 11px !important;
    text-align: start;
    width: 90%;
    color: #fff;
    padding-left: 30px;
    line-height: 150%;
  }
  .second-first-btn {
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #e7b960 0%, #000 49%, #e7b960 100%)
      1;
    border-image-slice: 1;
    border-image-repeat: stretch;
    background-color: initial;
    color: #e7b960;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
    padding: 5px 15px !important;
  }
  .I1B,
  .I2B,
  .I3B {
    width: 180px !important;
  }
  .three-div {
    gap: 20px !important;
  }
  .three-div-title {
    font-size: 20px !important;
  }
  .three-div-subtitle {
    font-size: 16px;
  }
  .three-div-list {
    font-size: 11px !important;
    margin-left: -25px;
  }
  .three-div-btn {
    padding: 5px 15px !important;
  }
  .three-div-btn img {
    width: 25px;
  }
}
.gradient-text {
  background-image: linear-gradient(
    to right,
    #efce76 0%,
    #835a27 38%,
    #c09852 73%,
    #f4e285 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.form-label {
  color: #d1a757;
  font-size: 16px;
  font-family: "Cormorant", serif;
}
.contact-form-control {
  padding: 07px 10px;
  width: calc(100% - 20px);
  background: transparent;
  border-radius: 2px;
  border: solid 1.5px #d1a757;
  font-size: 14px;
  color: #c7c7c7;
}
.contact-btn {
  border: 1px solid transparent;
  border-image: linear-gradient(to right, #e7b960 0%, #000 49%, #e7b960 100%) 1;
  border-image-slice: 1;
  border-image-repeat: stretch;
  background-color: initial;
  color: #e7b960;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 10px;
  width: max-content;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.contact-floating-img1 {
  animation: floatAnimation 6s ease-in-out infinite;
}
.contact-floating-img2 {
  animation: floatAnimation 9s ease-in-out infinite;
}
.contact-rotation-img {
  animation: rotateAnimation 9s ease-in-out infinite;
}
.leftContactbg1 {
  position: absolute;
  top: 22vh;
  left: 0;
  width: 100px;
}
.leftContactbg2 {
  position: absolute;
  bottom: 25vh;
  left: -10%;
  width: 250px;
}
.rightContactbg1 {
  position: absolute;
  top: 18vh;
  right: -0%;
  width: 200px;
}

/* Sign Up */
.glass-bg {
  /* From https://css.glass */
  color: #fff;
  height: 100%;
  width: 38%;
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid #e7b960;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-form-control {
  padding: 09px 10px;
  width: calc(100% - 20px);
  background: transparent;
  border-radius: 2px;
  border: solid 1px #6a6357;
  font-size: 10px;
  color: #c7c7c7;
}

.signup-form-label {
  color: #d1a757;
  font-size: 14px;
  font-family: "Cormorant", serif;
}

.signup-form-group {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
}
.signup-btn {
  padding: 09px 15px;
  color: #fff;
  background: linear-gradient(45deg, #efce76, #835a27, #c09852, #f4e285);
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  font-family: "Cormorant", serif;
}
.signupGoogle-btn {
  display: flex;
  padding: 09px 15px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #d1a757;
  color: #fff;
  font-size: 12px;
}
.signupGoogle-btn img {
  width: 20px;
}

.signup-form-divider {
  font-size: 12px;
  color: #fff;
  --signup-form-divider-gap: 0.5rem;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  font-weight: 100;
  /* font-family: "Cormorant", serif; */
}

.signup-form-divider::before,
.signup-form-divider::after {
  content: "";
  height: 1px;
  background-color: #d1a757;
  flex-grow: 1;
}

.signup-form-divider::before {
  margin-right: var(--signup-form-divider-gap);
}

.signup-form-divider::after {
  margin-left: var(--signup-form-divider-gap);
}

.glass-overlay-bg {
  /* From https://css.glass */
  height: 100vh;
  width: 100%;
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  position: absolute;
  z-index: 1;
}

/* CART */
.cart-cs-btn {
  border: 1px solid transparent;
  border-image: linear-gradient(to right, #e7b960 0%, #000 49%, #e7b960 100%) 1;
  border-image-slice: 1;
  border-image-repeat: stretch;
  background-color: initial;
  color: #e7b960;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
  padding: 10px 25px;
  cursor: pointer;
}

/* ACCOUNT */
.account-name{
  color: #d1a757 !important;
  font-size: 20px;
}

.accout-sidebar {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 02px;
}

.accout-sidebar li {
  color: #cbc9c1;
  padding:5px 10px;
  cursor: pointer;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border: 1px solid transparent;
border-image: linear-gradient(to right, initial 0%, initial 49%, initial 100%) 1;
border-image-slice: 1;
border-image-repeat: stretch;
border: "1px solid initial" !important;
}
.accout-sidebar li img{
width: 11px;

}
.accout-sidebar-active {
  background-color: #393830;
  border: 1px solid transparent;
  border-image: linear-gradient(to right, #676052 0%, #676052 49%, #676052 100%) 1 !important;
  border-image-slice: 1;
  border-image-repeat: stretch;
  border: "1px solid #676052" !important;
  color: #d1a757 !important;
}

.active-svg {
  color: red !important; /* Change to the desired active color */
}
